$gold: #ffb612;
$black: #101820;
$red: #c60c30;
$blue: #003087;
$silver: #a5acaf;
$white: #efefef;

$h1-size: 3rem;
$p-size: 20px;
$stripe-border-width: 0.75rem solid;
$bgsize: 80dvh;
$sm-stripe-height: 10dvh;
$lg-stripe-height: 40dvh;


$themes: (
  home: (
    font-family: Verdana,
    font-style: italic,
    font-weight: 500,
    background-color: $black,
    background-image: none,
    background-size: auto,
    options-unchecked-fill: $black,
    text-outline: none,
    text-bg-color: none,
    quote-color: $black,
    option-color: $white,
    stripes: none,
    stripes-outline: $stripe-border-width + $black,
    stripe-01: $black,
    stripe-02: $gold,
    stripe-03: $white,
    stripe-04: $gold,
    stripe-05: $white,
    stripe-06: $gold,
    stripe-07: $black,
    jersey-side-color: $black,
    jersey-width: 100dvw,
    loader-bg: #101820cb,
  ),
  away: (
    font-family: Verdana,
    font-style: italic,
    font-weight: 500,
    background-color: $white,
    background-image: none,
    background-size: auto,
    options-unchecked-fill: $white,
    text-outline: none,
    text-bg-color: none,
    quote-color: $black,
    option-color: $black,
    stripes: none,
    stripes-outline: $stripe-border-width + $black,
    stripe-01: $white,
    stripe-02: $gold,
    stripe-03: $white,
    stripe-04: $gold,
    stripe-05: $white,
    stripe-06: $gold,
    stripe-07: $white,
    jersey-side-color: $white,
    jersey-width: 100dvw,
    loader-bg: #efefefcb,
  ),
  color-rush: (
    font-family: impact,
    font-style: normal,
    font-weight: 200,
    background-color: $black,
    background-image: none,
    background-size: auto,
    options-unchecked-fill: $black,
    text-outline: none,
    text-bg-color: none,
    quote-color: $black,
    option-color: $gold,
    stripes: none,
    stripes-outline: $stripe-border-width + $black,
    stripe-01: $black,
    stripe-02: $gold,
    stripe-03: $gold,
    stripe-04: $gold,
    stripe-05: $gold,
    stripe-06: $gold,
    stripe-07: $black,
    jersey-side-color: $black,
    jersey-width: 100dvw,
    loader-bg: #ffb612cb,
  ),
  bumblebee: (
    font-family: impact,
    font-style: normal,
    font-weight: 200,
    background-color: $gold,
    background-image:
      linear-gradient(
        0deg,
        $black 16.67%,
        $gold 16.67%,
        $gold 33.33%,
        $black 33.33%,
        $black 50%,
        $black 50%,
        $black 66.67%,
        $gold 66.67%,
        $gold 83.33%,
        $black 83.33%,
        $black 100%
      ),
    background-size: $bgsize $bgsize,
    options-unchecked-fill: $white,
    text-outline: 2rem solid $black,
    text-bg-color: $white,
    quote-color: $black,
    option-color: $black,
    stripes: block,
    stripes-outline: 0 solid $black,
    stripe-01: $gold,
    stripe-02: $black,
    stripe-03: $gold,
    stripe-04: $black,
    stripe-05: $gold,
    stripe-06: $black,
    stripe-07: $gold,
    jersey-side-color: $black,
    jersey-width: 94dvw,
    loader-bg: #101820cb,
  ),
);

@each $theme, $map in $themes {
  .theme-#{$theme} {
    @each $key, $value in $map {
      --#{$key}: #{inspect($value)};
    }
  }
}

body {
  font-family: var(--font-family);
  font-style: var(--font-style);
  letter-spacing: 1px;
  font-weight: var(--font-weight);
  background-color: var(--jersey-side-color);
  // background-image: var(--background-image);
  // background-size: var(--background-size);
  color: var(--quote-color);
  font-size: $p-size;
  overflow: hidden;
}

.content {
  display: none;
}

.loader-wrapper {
  position: fixed;
  grid-template-columns: 0.125fr 0.125fr 0.125fr;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--loader-bg);
  display: grid;
  align-items: center;
  z-index: 9999;
  align-content: center;
  justify-content: center;

  .loader1 {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;

    &:before {
      content: "";
      width: 48px;
      height: 5px;
      background: #f0808050;
      position: absolute;
      top: 60px;
      left: 0;
      border-radius: 50%;
      animation: shadow324 0.25s linear infinite;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: $gold;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px;
      animation: jump7456 0.25s linear infinite;
    }
  }

  .loader2 {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;

    &:before {
      content: "";
      width: 48px;
      height: 5px;
      background: #f0808050;
      position: absolute;
      top: 60px;
      left: 0;
      border-radius: 50%;
      animation: shadow324 0.25s linear infinite;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: $red;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px;
      animation: jump7456 0.25s linear infinite;
    }
  }

  .loader3 {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;

    &:before {
      content: "";
      width: 48px;
      height: 5px;
      background: #f0808050;
      position: absolute;
      top: 60px;
      left: 0;
      border-radius: 50%;
      animation: shadow324 0.25s linear infinite;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: $blue;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px;
      animation: jump7456 0.25s linear infinite;
    }
  }
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

// Generate headings sizes
@for $i from 1 through 6 {
  h#{$i} {
    font-size: $h1-size - 0.35rem * ($i - 1);
  }
}

strong {
  font-weight: bolder;
}

@mixin stripe-styles($height, $width) {
  height: $height;
  width: $width;
}

#content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 4fr 1fr 1fr 1fr;
  gap: 0px 0px;
  width: var(--jersey-width);
  margin: 0 auto;
  height: 100dvh;
  grid-template-areas:
    "stripe-01"
    "stripe-02"
    "stripe-03"
    "stripe-04"
    "stripe-05"
    "stripe-06"
    "stripe-07";

  .stripe-01 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-01);
    border: var(--stripes-outline);
    grid-area: stripe-01;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: $sm-stripe-height;

    // Apply styles to theme radio buttons and labels
    .options {
      display: flex;
      justify-content: space-around;
      outline: var(--text-outline);
      background-color: var(--text-bg-color);

      label {
        display: flex;
        position: relative;
        padding: 0 1.75rem 0 1rem;
        cursor: pointer;
        font-size: 1rem;
        color: var(--option-color);
        text-transform: uppercase;
        opacity: 0.85;

        &.checked {
          color: var(--option-color);

          &:before {
            background-color: var(--option-color);
            border-color: var(--quote-color);
          }
        }

        // Radio
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: calc($p-size - 0.5rem);
          height: calc($p-size - 0.5rem);
          border: 2px solid var(--option-color);
          background-color: var(--options-unchecked-fill);
          border-radius: 50%;
          transition: background-color 0.3s ease;
        }

        // Apply styles when the radio button is checked
        input:checked + &:before {
          background-color: var(--option-color);
          border-color: var(--option-color);
        }

        // Apply hover effect to labels
        &:hover {
          color: var(--option-color);

          &:before {
            background-color: var(--option-color);
          }
        }
      }

      label:last-of-type {
        padding: 0 0 0 1rem;
      }

      // Hide default radio button
      input {
        position: absolute;
        opacity: 0;
      }
    }
  }

  .stripe-02 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-02);
    border: var(--stripes-outline);
    grid-area: stripe-02;
    height: $sm-stripe-height;
  }

  .stripe-03 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-03);
    border: var(--stripes-outline);
    grid-area: stripe-03;
    height: $sm-stripe-height;
  }

  .stripe-04 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-04);
    border: var(--stripes-outline);
    grid-area: stripe-04;
    display: flex;
    align-items: center;
    background-image: var(--background-image);
    background-size: var(--background-size);
    flex-wrap: wrap;
    justify-content: center;
    height: $lg-stripe-height;
    overflow: hidden;

    #tomlinism-quote-container {
      display: flex;
      color: var(--quote-color);
      background-color: var(--text-bg-color);
      border: var(--text-outline);
      height: 100%;
      justify-content: center;
      align-items: center;

      #tomlinism-quote {
        font-size: 4rem;

        width: 70dvw;
        text-align: center;

        &.shrink-text {
          font-size: 1.75rem;
        }
      }
    }
  }

  .stripe-05 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-05);
    border: var(--stripes-outline);
    grid-area: stripe-05;
    height: $sm-stripe-height;
  }

  .stripe-06 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-06);
    border: var(--stripes-outline);
    grid-area: stripe-06;
    height: $sm-stripe-height;
  }

  .stripe-07 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-07);
    border: var(--stripes-outline);
    grid-area: stripe-07;
    height: $sm-stripe-height;
  }
}
