$gold: #ffb612;
$black: #101820;
$red: #c60c30;
$blue: #003087;
$silver: #a5acaf;
$white: #efefef;

$h1-size: 3rem;
$p-size: 20px;

$themes: (
  home: (
    background-color: $black,
    background-image: none,
    background-size: auto,
    text-outline: none,
    text-bg-color: none,
    color: $white,
    stripes: grid,
    stripes-outline: 1rem solid $black,
    stripe-01: $gold,
    stripe-02: $white,
    stripe-03: $gold,
    stripe-04: $white,
    stripe-05: $gold,
  ),
  away: (
    background-color: $white,
    background-image: none,
    background-size: auto,
    text-outline: none,
    text-bg-color: none,
    color: $black,
    stripes: grid,
    stripes-outline: 1rem solid $black,
    stripe-01: $gold,
    stripe-02: $white,
    stripe-03: $gold,
    stripe-04: $white,
    stripe-05: $gold,
  ),
  color-rush: (
    background-color: $black,
    background-image: none,
    background-size: auto,
    text-outline: none,
    text-bg-color: none,
    color: $gold,
    stripes: grid,
    stripes-outline: 1rem solid $black,
    stripe-01: $gold,
    stripe-02: $gold,
    stripe-03: $gold,
    stripe-04: $gold,
    stripe-05: $gold,
  ),
  bumblebee: (
    background-color: transparent,
    background-image:
      linear-gradient(
        0deg,
        #fec838 26.47%,
        $black 26.47%,
        $black 50%,
        #fec838 50%,
        #fec838 76.47%,
        $black 76.47%,
        $black 100%
      ),
    background-size: 180px 170px,
    text-outline: 2rem solid $black,
    text-bg-color: $white,
    color: $black,
    stripes: none,
    stripes-outline: 1rem solid $black,
    stripe-01: $gold,
    stripe-02: $gold,
    stripe-03: $gold,
    stripe-04: $gold,
    stripe-05: $gold,
  ),
);

@each $theme, $map in $themes {
  .theme-#{$theme} {
    @each $key, $value in $map {
      --#{$key}: #{inspect($value)};
    }
  }
}

body {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: var(--background-size);
  color: var(--color);
  font-size: $p-size;
  overflow: hidden;
}

// Generate headings sizes
@for $i from 1 through 6 {
  h#{$i} {
    font-size: $h1-size - 0.35rem * ($i - 1);
  }
}

// Apply styles to theme radio buttons and labels
.options-container {
  width: 100dvw;
  position: absolute;
  top: 2rem;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  .options {
    display: flex;
    justify-content: space-around;
    outline: var(--text-outline);
    background-color: var(--text-bg-color);
    padding: 2rem;
    width: 40dvw;

    label {
      display: block;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      font-size: 1rem;
      color: var(--color);

      &.checked {
        color: var(--color);

        &:before {
          background-color: var(--color);
          border-color: var(--color);
        }
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: $p-size;
        height: 20px;
        border: 2px solid var(--color);
        background-color: var(--background-color);
        border-radius: 50%;
        transition: background-color 0.3s ease;
      }

      // Apply styles when the radio button is checked
      input:checked + &:before {
        background-color: var(--color);
        border-color: var(--color);
        content: "\2022";
        text-align: center;
        line-height: 20px;
      }

      // Apply hover effect to labels
      &:hover {
        color: var(--color);

        &:before {
          background-color: var(--color);
        }
      }
    }

    // Hide the default radio button
    input {
      position: absolute;
      opacity: 0;
    }
  }
}

strong {
  font-weight: bolder;
}

.tomlinism-quote-container {
  display: flex;
  text-align: center;
  height: 100dvh;
  z-index: 1000;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  flex-direction: column;
  position: fixed;

  h1 {
    display: none;
  }

  .tomlinism-quote-inner-wrapper {
    display: flex;
    padding: 4rem 3rem;
    background-color: var(--text-bg-color);
    outline: var(--text-outline);
    height: 60dvh;
    align-content: center;
    justify-content: center;
    align-items: center;

    p {
      font-size: 5rem;
      width: 66dvw;
      color: var(--color);
    }

    .shrink-text {
      font-size: 3.5rem;
    }
  }
}
@mixin stripe-styles($height, $width) {
  height: $height;
  width: $width;
}

#content-wrapper {
  display: var(--stripes);
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1.5fr repeat(2, 1fr) 3fr repeat(2, 1fr) 1.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  width: 100dvw;
  height: 100dvh;

  .stripe1-left,
  .stripe1-right {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-01);
    outline: var(--stripes-outline);
  }

  .stripe1-left {
    grid-area: 2 / 1 / 3 / 2;
  }

  .stripe1-right {
    grid-area: 2 / 3 / 3 / 4;
  }

  .stripe2-left,
  .stripe2-right {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-02);
    outline: var(--stripes-outline);
  }

  .stripe2-left {
    grid-area: 3 / 1 / 4 / 2;
  }

  .stripe2-right {
    grid-area: 3 / 3 / 4 / 4;
  }

  .stripe3-left,
  .stripe3-right {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-03);
    outline: var(--stripes-outline);
  }
  .stripe3-left {
    grid-area: 4 / 1 / 5 / 2;
  }
  .stripe3-right {
    grid-area: 4 / 3 / 5 / 4;
  }
  .stripe4-left,
  .stripe4-right {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-04);
    outline: var(--stripes-outline);
  }
  .stripe4-left {
    grid-area: 5 / 1 / 6 / 2;
  }
  .stripe4-right {
    grid-area: 5 / 3 / 6 / 4;
  }
  .stripe5-left,
  .stripe5-right {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-05);
    outline: var(--stripes-outline);
  }
  .stripe5-left {
    grid-area: 6 / 1 / 7 / 2;
  }
  .stripe5-right {
    grid-area: 6 / 3 / 7 / 4;
  }
}
