.theme-home {
  --font-family: Verdana;
  --font-style: italic;
  --font-weight: 500;
  --background-color: #101820;
  --background-image: none;
  --background-size: auto;
  --options-unchecked-fill: #101820;
  --text-outline: none;
  --text-bg-color: none;
  --quote-color: #101820;
  --option-color: #efefef;
  --stripes: none;
  --stripes-outline: 0.5rem solid#101820;
  --stripe-01: #ffb612;
  --stripe-02: #efefef;
  --stripe-03: #ffb612;
  --stripe-04: #efefef;
  --stripe-05: #ffb612;
}

.theme-away {
  --font-family: Verdana;
  --font-style: italic;
  --font-weight: 500;
  --background-color: #efefef;
  --background-image: none;
  --background-size: auto;
  --options-unchecked-fill: #efefef;
  --text-outline: none;
  --text-bg-color: none;
  --quote-color: #101820;
  --option-color: #101820;
  --stripes: none;
  --stripes-outline: 0.5rem solid#101820;
  --stripe-01: #ffb612;
  --stripe-02: #efefef;
  --stripe-03: #ffb612;
  --stripe-04: #efefef;
  --stripe-05: #ffb612;
}

.theme-color-rush {
  --font-family: impact;
  --font-style: normal;
  --font-weight: 200;
  --background-color: #101820;
  --background-image: none;
  --background-size: auto;
  --options-unchecked-fill: #101820;
  --text-outline: none;
  --text-bg-color: none;
  --quote-color: #101820;
  --option-color: #ffb612;
  --stripes: none;
  --stripes-outline: 0.5rem solid#101820;
  --stripe-01: #ffb612;
  --stripe-02: #ffb612;
  --stripe-03: #ffb612;
  --stripe-04: #ffb612;
  --stripe-05: #ffb612;
}

.theme-bumblebee {
  --font-family: impact;
  --font-style: normal;
  --font-weight: 200;
  --background-color: #101820;
  --background-image: linear-gradient(0deg, #ffb612 25%, black 25%, black 50%, #ffb612 50%, #ffb612 75%, black 75%, black 100%);
  --background-size: 80% 80%;
  --options-unchecked-fill: #efefef;
  --text-outline: 2rem solid #101820;
  --text-bg-color: #efefef;
  --quote-color: #101820;
  --option-color: #101820;
  --stripes: block;
  --stripes-outline: 0.5rem solid#101820;
  --stripe-01: #101820;
  --stripe-02: #ffb612;
  --stripe-03: #ffb612;
  --stripe-04: #ffb612;
  --stripe-05: #101820;
}

body {
  font-family: var(--font-family);
  font-style: var(--font-style);
  letter-spacing: 1px;
  font-weight: var(--font-weight);
  background-color: var(--background-color);
  color: var(--quote-color);
  font-size: 20px;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.65rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.95rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.25rem;
}

strong {
  font-weight: bolder;
}

#bumblebee-stripes {
  display: none;
  background-image: var(--background-image);
  background-size: var(--background-size);
  height: 100dvh;
  width: 80dvw;
  margin: 0 auto;
}

#content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 4fr 1fr 1fr 1fr;
  gap: 0px 0px;
  width: 100dvw;
  height: 100dvh;
  grid-template-areas: "stripe-01" "stripe-02" "stripe-03" "stripe-04" "stripe-05" "stripe-06" "stripe-07";
}
#content-wrapper .stripe-01 {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  border: var(--stripes-outline);
  grid-area: stripe-01;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#content-wrapper .stripe-01 .options {
  display: flex;
  justify-content: space-around;
  outline: var(--text-outline);
  background-color: var(--text-bg-color);
}
#content-wrapper .stripe-01 .options label {
  display: flex;
  position: relative;
  padding: 0 1.75rem 0 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--option-color);
  text-transform: uppercase;
  opacity: 0.85;
}
#content-wrapper .stripe-01 .options label.checked {
  color: var(--option-color);
}
#content-wrapper .stripe-01 .options label.checked:before {
  background-color: var(--option-color);
  border-color: var(--quote-color);
}
#content-wrapper .stripe-01 .options label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(20px - 0.5rem);
  height: calc(20px - 0.5rem);
  border: 2px solid var(--option-color);
  background-color: var(--options-unchecked-fill);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
input:checked + #content-wrapper .stripe-01 .options label:before {
  background-color: var(--option-color);
  border-color: var(--option-color);
}
#content-wrapper .stripe-01 .options label:hover {
  color: var(--option-color);
}
#content-wrapper .stripe-01 .options label:hover:before {
  background-color: var(--option-color);
}
#content-wrapper .stripe-01 .options label:last-of-type {
  padding: 0 0 0 1rem;
}
#content-wrapper .stripe-01 .options input {
  position: absolute;
  opacity: 0;
}
#content-wrapper .stripe-02 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-01);
  border: var(--stripes-outline);
  grid-area: stripe-02;
}
#content-wrapper .stripe-03 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-02);
  border: var(--stripes-outline);
  grid-area: stripe-03;
}
#content-wrapper .stripe-04 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-03);
  border: var(--stripes-outline);
  grid-area: stripe-04;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--background-image);
  background-size: var(--background-size);
}
#content-wrapper .stripe-04 #tomlinism-quote {
  font-size: 4rem;
  color: var(--quote-color);
  width: 70dvw;
  text-align: center;
  background-color: var(--text-bg-color);
  height: 46dvh;
}
#content-wrapper .stripe-04 #tomlinism-quote.shrink-text {
  font-size: 1.75rem;
}
#content-wrapper .stripe-05 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-04);
  border: var(--stripes-outline);
  grid-area: stripe-05;
}
#content-wrapper .stripe-06 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-05);
  border: var(--stripes-outline);
  grid-area: stripe-06;
}
#content-wrapper .stripe-07 {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  border: var(--stripes-outline);
  grid-area: stripe-07;
}/*# sourceMappingURL=main.css.map */