$gold: #ffb612;
$black: #101820;
$red: #c60c30;
$blue: #003087;
$silver: #a5acaf;
$white: #efefef;

$h1-size: 3rem;
$p-size: 20px;
$stripe-border-width: 0.5rem solid;

$themes: (
  home: (
    background-color: $black,
    background-image: none,
    background-size: auto,
    options-unchecked-fill: $black,
    text-outline: none,
    text-bg-color: none,
    quote-color: $black,
    option-color: $white,
    stripes: none,
    stripes-outline: $stripe-border-width + $black,
    stripe-01: $gold,
    stripe-02: $white,
    stripe-03: $gold,
    stripe-04: $white,
    stripe-05: $gold,
  ),
  away: (
    background-color: $white,
    background-image: none,
    background-size: auto,
    options-unchecked-fill: $white,
    text-outline: none,
    text-bg-color: none,
    quote-color: $black,
    option-color: $black,
    stripes: none,
    stripes-outline: $stripe-border-width + $black,
    stripe-01: $gold,
    stripe-02: $white,
    stripe-03: $gold,
    stripe-04: $white,
    stripe-05: $gold,
  ),
  color-rush: (
    background-color: $black,
    background-image: none,
    background-size: auto,
    options-unchecked-fill: $black,
    text-outline: none,
    text-bg-color: none,
    quote-color: $black,
    option-color: $gold,
    stripes: none,
    stripes-outline: $stripe-border-width + $black,
    stripe-01: $gold,
    stripe-02: $gold,
    stripe-03: $gold,
    stripe-04: $gold,
    stripe-05: $gold,
  ),
  bumblebee: (
    background-color: $black,
    background-image:
      linear-gradient(
        0deg,
        #fec838 26.47%,
        $black 26.47%,
        $black 50%,
        #fec838 50%,
        #fec838 76.47%,
        $black 76.47%,
        $black 100%
      ),
    background-size: 180px 170px,
    options-unchecked-fill: $white,
    text-outline: 2rem solid $black,
    text-bg-color: $white,
    quote-color: $black,
    option-color: $black,
    stripes: block,
    stripes-outline: $stripe-border-width + $gold,
    stripe-01: $gold,
    stripe-02: $black,
    stripe-03: $gold,
    stripe-04: $black,
    stripe-05: $gold,
  ),
);

@each $theme, $map in $themes {
  .theme-#{$theme} {
    @each $key, $value in $map {
      --#{$key}: #{inspect($value)};
    }
  }
}

body {
  background-color: var(--background-color);
  // background-image: var(--background-image);
  // background-size: var(--background-size);
  color: var(--quote-color);
  font-size: $p-size;
  overflow: hidden;
}

// Generate headings sizes
@for $i from 1 through 6 {
  h#{$i} {
    font-size: $h1-size - 0.35rem * ($i - 1);
  }
}

strong {
  font-weight: bolder;
}

@mixin stripe-styles($height, $width) {
  height: $height;
  width: $width;
}

#bumblebee-stripes {
  display: none;
  background-image: var(--background-image);
  background-size: var(--background-size);
  height: 100dvh;
  width: 80dvw;
  margin: 0 auto;
}

#content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 4fr 1fr 1fr 1fr;
  gap: 0px 0px;
  width: 100dvw;
  height: 100dvh;
  grid-template-areas:
    "stripe-01"
    "stripe-02"
    "stripe-03"
    "stripe-04"
    "stripe-05"
    "stripe-06"
    "stripe-07";

  .stripe-01 {
    @include stripe-styles(100%, 100%);
    background-color: var(--background-color);
    border: var(--stripes-outline);
    grid-area: stripe-01;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    // Apply styles to theme radio buttons and labels
    .options {
      display: flex;
      justify-content: space-around;
      outline: var(--text-outline);
      background-color: var(--text-bg-color);

      label {
        display: flex;
        position: relative;
        padding: 0 1.75rem 0 1rem;
        cursor: pointer;
        font-size: 1rem;
        color: var(--option-color);
        text-transform: uppercase;
        opacity: 0.85;

        &.checked {
          color: var(--option-color);

          &:before {
            background-color: var(--option-color);
            border-color: var(--quote-color);
          }
        }

        // Radio
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: calc($p-size - 0.5rem);
          height: calc($p-size - 0.5rem);
          border: 2px solid var(--option-color);
          background-color: var(--options-unchecked-fill);
          border-radius: 50%;
          transition: background-color 0.3s ease;
        }

        // Apply styles when the radio button is checked
        input:checked + &:before {
          background-color: var(--option-color);
          border-color: var(--option-color);
        }

        // Apply hover effect to labels
        &:hover {
          color: var(--option-color);

          &:before {
            background-color: var(--option-color);
          }
        }
      }

      label:last-of-type {
        padding: 0 0 0 1rem;
      }
      // Hide default radio button
      input {
        position: absolute;
        opacity: 0;
      }
    }
  }

  .stripe-02 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-01);
    border: var(--stripes-outline);
    grid-area: stripe-02;
  }

  .stripe-03 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-02);
    border: var(--stripes-outline);
    grid-area: stripe-03;
  }

  .stripe-04 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-03);
    border: var(--stripes-outline);
    grid-area: stripe-04;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46dvh;

    h1 {
      display: none;
    }

    #tomlinism-quote {
      font-size: 4rem;
      color: var(--quote-color);
      width: 70dvw;
      text-align: center;
    }
    .shrink-text {
      font-size: 1.75rem;
    }
  }

  .stripe-05 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-04);
    border: var(--stripes-outline);
    grid-area: stripe-05;
  }

  .stripe-06 {
    @include stripe-styles(100%, 100%);
    background-color: var(--stripe-05);
    border: var(--stripes-outline);
    grid-area: stripe-06;
  }

  .stripe-07 {
    @include stripe-styles(100%, 100%);
    background-color: var(--background-color);
    border: var(--stripes-outline);
    grid-area: stripe-07;
  }
}
