@font-face {
  font-family: "College Block";
  src: url("/fonts/College-Block.woff") format("woff");
}
@font-face {
  font-family: "LeagueGothic Italic";
  src: url("/fonts/LeagueGothic-Italic.woff") format("woff");
}
.theme-home {
  --font-family: "LeagueGothic Italic";
  --font-style: italic;
  --font-weight: 200;
  --font-weight-strong: 600;
  --font-size-label: 1.5rem;
  --font-size-quote: 6rem;
  --font-size-shrink: 4.5rem;
  --line-height-qoute: 5.5rem;
  --line-height-shrink: 4.5rem;
  --background-color: #101820;
  --background-image: none;
  --background-size: auto;
  --options-unchecked-fill: #101820;
  --text-outline: none;
  --text-bg-color: none;
  --quote-color: #101820;
  --option-color: #efefef;
  --stripes: none;
  --stripes-outline: 0.75rem solid#101820;
  --stripe-01: #101820;
  --stripe-02: #ffb612;
  --stripe-03: #efefef;
  --stripe-04: #ffb612;
  --stripe-05: #efefef;
  --stripe-06: #ffb612;
  --stripe-07: #101820;
  --jersey-side-color: #101820;
  --jersey-width: 100dvw;
  --loader-bg: #101820;
}

.theme-away {
  --font-family: "LeagueGothic Italic";
  --font-style: italic;
  --font-weight: 200;
  --font-weight-strong: 600;
  --font-size-label: 1.5rem;
  --font-size-quote: 6rem;
  --font-size-shrink: 4.5rem;
  --line-height-qoute: 5.5rem;
  --line-height-shrink: 4.5rem;
  --background-color: #efefef;
  --background-image: none;
  --background-size: auto;
  --options-unchecked-fill: #efefef;
  --text-outline: none;
  --text-bg-color: none;
  --quote-color: #101820;
  --option-color: #101820;
  --stripes: none;
  --stripes-outline: 0.75rem solid#101820;
  --stripe-01: #efefef;
  --stripe-02: #ffb612;
  --stripe-03: #efefef;
  --stripe-04: #ffb612;
  --stripe-05: #efefef;
  --stripe-06: #ffb612;
  --stripe-07: #efefef;
  --jersey-side-color: #efefef;
  --jersey-width: 100dvw;
  --loader-bg: #efefef;
}

.theme-color-rush {
  --font-family: "College Block";
  --font-style: normal;
  --font-weight: 500;
  --font-weight-strong: 600;
  --font-size-label: 1.25rem;
  --font-size-shrink: 4rem;
  --font-size-quote: 5rem;
  --line-height-qoute: 5rem;
  --line-height-shrink: 4.25rem;
  --background-color: #101820;
  --background-image: none;
  --background-size: auto;
  --options-unchecked-fill: #101820;
  --text-outline: none;
  --text-bg-color: none;
  --quote-color: #101820;
  --option-color: #ffb612;
  --stripes: none;
  --stripes-outline: 0.75rem solid#101820;
  --stripe-01: #101820;
  --stripe-02: #ffb612;
  --stripe-03: #ffb612;
  --stripe-04: #ffb612;
  --stripe-05: #ffb612;
  --stripe-06: #ffb612;
  --stripe-07: #101820;
  --jersey-side-color: #101820;
  --jersey-width: 100dvw;
  --loader-bg: #101820;
}

.theme-bumblebee {
  --font-family: "College Block";
  --font-style: normal;
  --font-weight: 200;
  --font-weight-strong: 600;
  --font-size-label: 1.25rem;
  --font-size-shrink: 3.25rem;
  --font-size-quote: 5.125rem;
  --line-height-qoute: 5rem;
  --line-height-shrink: 3.5rem;
  --background-color: #ffb612;
  --background-image: linear-gradient(0deg, #101820 25%, #ffb612 25%, #ffb612 50%, #101820 50%, #101820 75%, #ffb612 75%, #ffb612 100%);
  --background-size: 54dvh 54dvh;
  --options-unchecked-fill: #efefef;
  --text-outline: 2rem solid #101820;
  --text-bg-color: #efefef;
  --quote-color: #101820;
  --option-color: #101820;
  --stripes: block;
  --stripes-outline: 0 solid #101820;
  --stripe-01: #ffb612;
  --stripe-02: #101820;
  --stripe-03: #ffb612;
  --stripe-04: #101820;
  --stripe-05: #ffb612;
  --stripe-06: #101820;
  --stripe-07: #ffb612;
  --jersey-side-color: #101820;
  --jersey-width: 94dvw;
  --loader-bg: #101820;
}

body {
  font-family: var(--font-family);
  font-style: var(--font-style);
  letter-spacing: 0.125ex;
  font-weight: var(--font-weight);
  background-color: var(--jersey-side-color);
  color: var(--quote-color);
  font-size: 20px;
  overflow: hidden;
  text-transform: uppercase;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--loader-bg);
  display: grid;
  grid-template-columns: repeat(3, 0.125fr);
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 9999;
}
.loader-wrapper.fade-out {
  animation: fadeOut 500ms forwards ease-out;
}
.loader-wrapper .loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}
.loader-wrapper .loader:before {
  content: "";
  width: 48px;
  height: 5px;
  background: rgba(240, 128, 128, 0.3137254902);
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: animateLoaderShadow 0.25s linear infinite;
}
.loader-wrapper .loader:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: animateLoader 0.25s linear infinite;
}
.loader-wrapper .loader1:after {
  background: #ffb612;
}
.loader-wrapper .loader2:after {
  background: #c60c30;
}
.loader-wrapper .loader3:after {
  background: #003087;
}

@keyframes animateLoader {
  15% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes animateLoaderShadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.65rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.95rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.25rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

#content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr 4fr 1fr 1fr 2fr;
  gap: 0px 0px;
  width: var(--jersey-width);
  margin: 0 auto;
  height: 100dvh;
  grid-template-areas: "stripe-01" "stripe-02" "stripe-03" "stripe-04" "stripe-05" "stripe-06" "stripe-07";
}
#content-wrapper .stripe-01 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-01);
  border: var(--stripes-outline);
  grid-area: stripe-01;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 14dvh;
}
#content-wrapper .stripe-01 .options {
  display: flex;
  justify-content: space-around;
}
#content-wrapper .stripe-01 .options label {
  display: flex;
  position: relative;
  padding: 0 1.75rem 0 1rem;
  cursor: pointer;
  font-size: var(--font-size-label);
  color: var(--option-color);
  text-transform: uppercase;
  opacity: 0.85;
}
#content-wrapper .stripe-01 .options label.checked {
  color: var(--option-color);
}
#content-wrapper .stripe-01 .options label.checked:before {
  background-color: var(--option-color);
  border-color: var(--quote-color);
}
#content-wrapper .stripe-01 .options label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(20px - 0.5rem);
  height: calc(20px - 0.5rem);
  border: 2px solid var(--option-color);
  background-color: var(--options-unchecked-fill);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
input:checked + #content-wrapper .stripe-01 .options label:before {
  background-color: var(--option-color);
  border-color: var(--option-color);
}
#content-wrapper .stripe-01 .options label:hover {
  color: var(--option-color);
}
#content-wrapper .stripe-01 .options label:hover:before {
  background-color: var(--option-color);
}
#content-wrapper .stripe-01 .options label:last-of-type {
  padding: 0 0 0 1rem;
}
#content-wrapper .stripe-01 .options input {
  position: absolute;
  opacity: 0;
}
#content-wrapper .stripe-02 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-02);
  border: var(--stripes-outline);
  grid-area: stripe-02;
  height: 8dvh;
}
#content-wrapper .stripe-03 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-03);
  border: var(--stripes-outline);
  grid-area: stripe-03;
  height: 8dvh;
}
#content-wrapper .stripe-04 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-04);
  border: var(--stripes-outline);
  grid-area: stripe-04;
  display: flex;
  align-items: center;
  background-image: var(--background-image);
  background-size: var(--background-size);
  flex-wrap: wrap;
  justify-content: center;
  height: 40dvh;
  overflow: hidden;
}
#content-wrapper .stripe-04 #tomlinism-quote-container {
  display: flex;
  color: var(--quote-color);
  background-color: var(--text-bg-color);
  border: var(--text-outline);
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
#content-wrapper .stripe-04 #tomlinism-quote-container #tomlinism-quote {
  font-size: var(--font-size-quote);
  line-height: var(--line-height-qoute);
  width: 75dvw;
  text-align: center;
}
#content-wrapper .stripe-04 #tomlinism-quote-container #tomlinism-quote.shrink-text {
  font-size: var(--font-size-shrink);
  line-height: var(--line-height-shrink);
}
#content-wrapper .stripe-05 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-05);
  border: var(--stripes-outline);
  grid-area: stripe-05;
  height: 8dvh;
}
#content-wrapper .stripe-06 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-06);
  border: var(--stripes-outline);
  grid-area: stripe-06;
  height: 8dvh;
}
#content-wrapper .stripe-07 {
  height: 100%;
  width: 100%;
  background-color: var(--stripe-07);
  border: var(--stripes-outline);
  grid-area: stripe-07;
  height: 14dvh;
}/*# sourceMappingURL=main.css.map */